html {
	background-color: aquamarine;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

canvas {
	background-color: beige;
}

input, p {
	margin: 0;
}

p {
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
}

#container {
	padding: 8px;
	gap: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

#right {
	min-width: 165px;
}



/* new stuff */

input, select {
	font-size: 1rem;
	padding: 5px 15px 5px 15px;
}

.hidden {
	display: none;
}
